/*Taustan väri */
body {
    background-color: #f4eee7;
}

/*Etusivu: Pääotsikot*/
.etusivu h1{
    background-image:url("kansikuva.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #f4eee7;
    font: 40px Playfair Display;
    padding: 150px 80px 150px 80px;
    width: 80%;
    margin: auto;
    text-shadow: 2px 2px 4px #000000;
}

/*Etusivu: Väliotsikot*/
.etusivu h2 {
    color:#412f26;
    font: 28px Playfair Display;
    width: 90%;
    margin: auto;
}

/*Alkuteksti pääotsikon jälkeen*/
.lead {
    width: 90%;
    margin: auto;
    color:#8F6F55;
    font: 20px Playfair Display;
    padding: 30px;
    text-align: justify;
    font-style: italic;
}

#huom {
    font: 15px Playfair Display;
    font-variant: small-caps;
    font-weight: bold;
    color:#412f26;
}

/*Leipäteksti*/
.content {
    width: 90%;
    margin: auto;
    color:#8F6F55;
    font: 17px Playfair Display;
    text-align: justify;
}

.palvelut h1{
    background-color: #8F6F55;
    text-align: center;
    color: #f4eee7;
    font: 40px Playfair Display;
    padding: 70px 70px;
    width: 90%;
    margin: auto;
}

.palvelut h2{
    color:#412f26;
    font: 28px Playfair Display;
    width: 90%;
    margin: auto;
}

#taulukko, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    height: 40px;
}

#taulukko tr:nth-child(even) {   /*Muotoillaan taulukon joka toinen rivi tummemmaksi*/
  background-color: #8F6F55;
  color: #f4eee7;
}

.yhteystiedot h1{
    background-color: #8F6F55;
    text-align: center;
    color: #f4eee7;
    font: 40px Playfair Display;
    padding: 70px 70px;
    width: 90%;
    margin: auto;
}

.yhteystiedot h2{
    color:#412f26;
    font: 28px Playfair Display;
    width: 90%;
    margin: auto;
}

.linkki {
    width: 90%;
    margin: auto;
    color:#8F6F55;
    font: 17px Playfair Display;
}

.kuva {
    float: right;
    width: 230px;
    height:140px;
    clip-path: ellipse(50% 40%);
}

#kartta {
    float: right;
    width: 300px;
    height:200px;
}